*,
*::after,
*::before {
    margin: 0;
    padding: 0;

    box-sizing: border-box;

    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 16px;
    color: $light_grey;

    text-decoration: none;
}

.wrapper {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 15px;

    display: flex;
    align-items: center;
}

.container {
    width: 100%;
    max-width: 1190px;
    margin: 0 auto;
    padding: 0 15px;
}
