.header {
    height: 100vh;
    width: 100%;

    &__body {
        background: url(../img/header.png) center center;
        background-repeat: no-repeat;
        background-size: cover;

        height: calc(100vh - 205px);
        width: 100%;
    }

    &__wrap {
        position: relative;

        height: 100%;
        width: 100%;

        max-width: 1130px;
        margin: 0 auto;
        padding: 0 15px;
    }

    &__block {
        & > * {
            display: block;
        }
        position: absolute;
        left: 0;
        bottom: 30px;
    }

    &__text {
        font-size: 18px;
        line-height: 28.5px;
    }
    &__link {
        font-size: 15px;
        line-height: 22.5px;
        text-decoration: underline;
    }
}

.sale {
    height: 45px;
    width: 100%;

    background-color: $accent;

    &__text {
        font-size: 14px;
        line-height: 19.6px;
        margin-right: 16px;
    }

    &__btn {
        height: 28px;
        width: 113px;

        font-size: 12px;
        line-height: 28px;

        background-color: $black;

        text-align: center;
    }
}

.wrap {
    display: flex;
    align-items: center;
    justify-content: center;

    height: inherit;
    width: 100%;
}

.nav {
    height: 160px;
    width: 100%;

    display: flex;
    align-items: center;

    &__logo {
        height: 41px;
        width: 256px;

        margin-right: 67px;
    }
    &__navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    &__right {
        & > div {
            display: inline-flex;
            align-items: center;

            margin-right: 30px;
            & > .line {
                height: 20px;
                width: 1px;
                background-color: $black;
                display: inline-block;
                margin: 0 13px;
            }
        }
    }
    &__link {
        color: $black;
        font-size: 14px;
        line-height: 18px;

        &--left {
            color: $black;
            font-size: 16px;
            line-height: 16.4px;

            margin-right: 32px;
        }

        & > img {
            height: 13.75px;
            width: 17.5px;
        }
    }
}
